/* 달력과 시간이모티콘의 위치가 동시에 움직이기 때문에 화면 밖으로 날려버렸다 */
.ant-picker-suffix {
  @media screen and (max-width: 430px) {
    position: relative;
    right: 2000px;
  }
}

.ant-picker-header-super-next-btn {
  display: none;
}
.ant-picker-header-super-prev-btn {
  display: none;
}

.ant-picker-footer {
  background-color: #bec5d7;
}

:where(.css-dev-only-do-not-override-1me4733).ant-picker-dropdown
  .ant-picker-today-btn {
  color: white;
}

.ant-picker-now-btn {
  color: white;
}

:where(.css-dev-only-do-not-override-1me4733).ant-btn-primary {
  color: #fff;
  background-color: #bec5d7;
}

:where(.css-dev-only-do-not-override-1me4733).ant-btn-primary:not(
    :disabled
  ):hover {
  color: #fff;
  background-color: #bec5d7;
}
